{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info, inline, verbose, {parse_transform, otpbp_pt}]}.

{deps, [
    {emsgpack, "~> 0.4"},
    {otpbp, "~> 6.9"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{shell, [
    {config, "sys.config"},
    {apps, [erlogstash]}
]}.
