{deps, [
    {jsone, "~> 1.7.0"},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{shell, [
    {config, "sys.config"},
    {apps, [erlogstash]}
]}.
